// Theme for app shell

//https://material.io/develop/web/docs/theming/#step-2-use-the-mdc-web-colors-in-your-own-markup
$mdc-theme-primary: #ff6600; // 

$mdc-theme-secondary: #00b3ff;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: red;