// Theme for app shell

// https://colors.muz.li/palette/ff6600/00b3ff/007db3/ffc300/b38900
// https://material.io/develop/web/components/theme/

$mdc-theme-primary: #ff6600;
// $mdc-theme-on-primary:red;

$mdc-theme-secondary: #007db3;
// $mdc-theme-on-secondary: blue;

$mdc-theme-surface: #00b3ff;
// $mdc-theme-on-surface: orange;

$mdc-theme-background: #fff;
// $mdc-theme-on-background: purple;

$mdc-theme-error: red;


